<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style></style>

  <body>
    <p>Golang - Gin - S3 Bucket</p>
    {{if .image}}
    <img src="{{.image}}" alt="" /> {{end}}
    <div class="main">
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" />
        <input type="submit" /> {{if .error}}
        <p>{{.error}}</p>
        {{end}}
      </form>
    </div>
  </body>
</html>
